

body{
	margin-bottom: 0%;
	margin-top: 0%;
    justify-content: center;
	background-color: #0000008c;
}

.centrado {
	color: white;
	display: flex;
	justify-content: center;
}
.imagen{
	display: flex;
	justify-content: center;
	margin: 3%;
	
}
p{
	color:whitesmoke;
	display: flex;
	font-size:200%;

}
.categoria{
	color: rgb(7, 7, 7);
	margin: 2%;
	display: flex;
	justify-content: flex-end;
}