.img{
    display: flex;

    width: 300px;
    height: 200px;
    border: double;
}


body{
    background-color: #1bb3b8;
}


p{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    font-family: cursive;
}